# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# IDE specific
.vscode/
.idea/

# Keys & Sensitive Data
*.pem
*.log

# Reports
storage/reports/
storage/encrypted_files/
storage/logs/
/frontend/node_modules/
/frontend/build/
.env
__pycache__/
*.sqlite3
*.db