/* Custom Styles */
body {
    background-color: #212529; /* Dark background */
    color: #dee2e6;
}

.card {
    background-color: #343a40 !important;
    border: 1px solid #495057;
}

.navbar {
    border-bottom: 1px solid #495057;
}

pre {
    white-space: pre-wrap;
    word-break: break-all;
}